<form [formGroup]="form" [class]="getCss()">
    <app-basic-style *ngFor="let child of style.children" [style]="child" [url]="url" [ionContent]="ionContent"
        [parentForm]="form"></app-basic-style>
    <div class="d-flex align-items-center">
        <ion-button [color]="getFieldContent('type')" size='small' [disabled]="!form.valid || isSubmitting"
            (click)="submitForm(form.value)">
            <ion-spinner *ngIf="isSubmitting" name="dots" class="submit-spinner"></ion-spinner>
            <span *ngIf="!isSubmitting">{{getFieldContent('label')}}</span>
            <span *ngIf="isSubmitting">Processing...</span>
        </ion-button>
        <ion-button *ngIf="getFieldContent('submit_and_send_email') === '1'" [color]="getFieldContent('type')" size='small'
            [class]="'btn-' + getFieldContent('type')" [disabled]="!form.valid || isSubmitting"
            (click)="submitFormAndSendEmail(form.value)">{{getFieldContent('submit_and_send_label')}}
        </ion-button>
    </div>
    <div *ngIf="isSubmitting" class="form-loading-overlay">
        <div class="form-loading-content">
            <ion-spinner name="crescent" color="primary"></ion-spinner>
            <p>Processing your request...</p>
        </div>
    </div>
</form>
