<div *ngIf="!this.style.anonymous_users" class="container mt-3">
    <div class="jumbotron">
        <div [innerHTML]="getFieldContent('text_md')"></div>
        <form [formGroup]="form" [class]="getCss()" (keyup.enter)="reset(form.value)">
            <ion-item>
                <ion-input type="email" email formControlName="email_user"
                    [placeholder]="getFieldContent('label_user')">
                </ion-input>
            </ion-item>
            <ion-button [color]="getFieldContent('type')" size="small" [disabled]="!form.valid"
                (click)="reset(form.value)" class="w-100 mt-3" [disabled]="!form.valid">
                {{getFieldContent('label_pw_reset')}}</ion-button>
        </form>
    </div>
</div>

<div *ngIf="this.style.anonymous_users && this.style.is_reset_password_enabled" class="container mt-3">
    <div class="jumbotron">
        <div [innerHTML]="getFieldContent('text_md')"></div>
        <form [formGroup]="form" [class]="getCss()" (keyup.enter)="reset(form.value)">
            <ion-item class="d-none">
                <ion-input formControlName="reset_anonymous_user">
                </ion-input>
            </ion-item>
            <ion-item *ngIf="this.style.security_questions_labels.length > 0" class="d-none">
                <ion-input formControlName="reset_anonymous_user_sec_q">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="user_name" [placeholder]="getFieldContent('label_user')" [disabled]="!(!this.style.reset_user_name)">
                </ion-input>
            </ion-item>

            <ion-item *ngFor="let question of this.style.security_questions_labels">
                <ion-label class="labels-white-space" position="floating">{{question.text}}</ion-label>
                <ion-input [formControlName]="question.id"></ion-input>
            </ion-item>

            <ion-button [color]="getFieldContent('type')" size="small" [disabled]="!form.valid"
                (click)="reset(form.value)" class="w-100 mt-3" [disabled]="!form.valid">
                {{getFieldContent('label_pw_reset')}}</ion-button>
        </form>
    </div>
</div>
