@if (this.showHeader()) {
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="#" (click)="close()"></ion-back-button>
      </ion-buttons>
      <ion-title>{{getTitle()}}</ion-title>
    </ion-toolbar>
  </ion-header>
}
@if (selfHelp.urls[url]) {
  <ion-content #content  fullscreen>
    @for (style of selfHelp.urls[url].content; track style) {
      <app-basic-style [style]="style" [url]="url" [ionContent]="content"></app-basic-style>
    }
    @if (isMissing()) {
      <div  class="p-5">Missing page</div>
    }
  </ion-content>
}
