@if (getFieldContent('load_as_table') === '1') {
  <table appDatatable [dtOptions]="dtOptions" [className]="'table ' + getCss()">
    <thead>
      <tr>
        <th class="d-none"></th>
      </tr>
    </thead>
    <tbody>
      @for (child of style.children; track child) {
        <tr>
          <td>
            <app-basic-style [url]="url" [ionContent]="ionContent" [style]="child"></app-basic-style>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@if (getFieldContent('load_as_table') === '0' || this.style.style_name === 'loop') {
  <div [className]="'entryListHolder ' + getCss()">
    @for (child of style.children; track child) {
      <app-basic-style [url]="url" [ionContent]="ionContent"
      [style]="child"></app-basic-style>
    }
  </div>
}
