<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500227861670-lf74ginulrsdjhm2m5qo7hv0mfjo7odq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500227861670-lf74ginulrsdjhm2m5qo7hv0mfjo7odq</string>
	<key>API_KEY</key>
	<string>AIzaSyBAU5gP2bzuqVDgihOmu6AwVdwFAEsTtL0</string>
	<key>GCM_SENDER_ID</key>
	<string>500227861670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unibe.tpf.soapp</string>
	<key>PROJECT_ID</key>
	<string>tpf-selfhelp</string>
	<key>STORAGE_BUCKET</key>
	<string>tpf-selfhelp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500227861670:ios:86e0376d60c688a4141867</string>
</dict>
</plist>