@if (selfhelp.selectedMenu && selfhelp.selectedMenu.children) {
  <ion-segment scrollable
    [(ngModel)]="selfhelp.current_url" (ionChange)="setSelectedSubMenu()">
    @for (subNav of selfhelp.selectedMenu.children; track subNav; let i = $index) {
      <ion-segment-button [value]="subNav.url">
        <!-- <ion-icon [name]="subNav.keyword"></ion-icon> -->
        <ion-label>{{subNav.title}}</ion-label>
      </ion-segment-button>
    }
  </ion-segment>
}

<swiper-container #slides (slidechange)="slideChanged()" class="swiper-height">
  @for (subNav of selfhelp.selectedMenu?.children; track subNav; let i = $index) {
    <swiper-slide scrollbar="true">
      <ion-content #ionContent center class="subMenuSlide" scrollbar="true">
        @for (style of getContent(subNav); track style) {
          <app-basic-style [ionContent]="ionContent" [style]="style" [url]="subNav.url">
          </app-basic-style>
        }
      </ion-content>
    </swiper-slide>
  }
</swiper-container>
