@if (this.getFieldContent('html_tag') === 'figure') {
  <figure>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </figure>
}

@if (this.getFieldContent('html_tag') === 'figcaption') {
  <figcaption>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </figcaption>
}

@if (this.getFieldContent('html_tag') === 'ul') {
  <ul>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </ul>
}

@if (this.getFieldContent('html_tag') === 'ol') {
  <ol>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </ol>
}

@if (this.getFieldContent('html_tag') === 'li') {
  <li>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </li>
}

@if (this.getFieldContent('html_tag') === 'table') {
  <table>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </table>
}

@if (this.getFieldContent('html_tag') === 'tr') {
  <tr>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </tr>
}

@if (this.getFieldContent('html_tag') === 'td') {
  <td>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </td>
}

@if (this.getFieldContent('html_tag') === 'th') {
  <th>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </th>
}

@if (this.getFieldContent('html_tag') === 'dd') {
  <dd>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </dd>
}

@if (this.getFieldContent('html_tag') === 'dl') {
  <dl>
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
      [parentForm]="parentForm"></app-basic-style>
    }
  </dl>
}
