<ion-segment scrollable [(ngModel)]="segment" (ionChange)="setSelectedMenu()">
    <ion-segment-button *ngFor="let subNav of selfhelp.navigation; let i = index" [value]="i">
        <!-- <ion-icon [name]="subNav.keyword"></ion-icon> -->
        <ion-label>{{subNav.title}}</ion-label>
    </ion-segment-button>
</ion-segment>

<ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let subNav of selfhelp.navigation; let i = index"
        [ngSwitch]="selfhelp.selectedMenu && selfhelp.selectedMenu.keyword == subNav.keyword" scrollbar="true">
        <ion-content center class="menuSlide" scrollbar="true">
            <div *ngIf="selfhelp.selectedMenu && selfhelp.selectedMenu.children.length == 0">
                <app-basic-style *ngFor="let style of getContent(subNav)" [style]="style">
                </app-basic-style>
            </div>
            <app-sub-menu *ngIf="selfhelp.selectedMenu && selfhelp.selectedMenu.children.length > 0"
                [selfhelp]="selfhelp">
            </app-sub-menu>
        </ion-content>
    </ion-slide>
</ion-slides>