<app-basic-style *ngFor="let child of style.children" [style]="child" [url]="url" [ionContent]="ionContent">
</app-basic-style>
<div class="container-fluid">
    <ion-card class="my-3">
        <ion-card-header>
            <ion-card-title>Version</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>App version:</ion-label>
                <ion-text color="primary">
                    <h1>{{getAppVersion()}}</h1>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>App build:</ion-label>
                <ion-text color="primary">
                    <h1>{{getAppBuildVersion()}}</h1>
                </ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>
</div>