<ion-content #ionContent [fullscreen]="true">
  @if (this.showHeader()) {
    <ion-header>
      <ion-toolbar>
        @if (getAvatar() !== '') {
          <ion-avatar class="avatar" slot="end" (click)="profileOrLogin()">
            <img [src]="getAvatar()">
          </ion-avatar>
        }
        @if (getAvatar() === '') {
          <ion-buttons slot="secondary">
            <ion-button (click)="profileOrLogin()">
              <ion-icon slot="icon-only" name="person-circle-outline" color="medium">
              </ion-icon>
            </ion-button>
          </ion-buttons>
        }
        <ion-title>{{selfHelp && selfHelp.selectedMenu ? selfHelp.selectedMenu.title : ''}}</ion-title>
      </ion-toolbar>
    </ion-header>
  }
  @if (selfHelp && selfHelp.selectedMenu && selfHelp.selectedMenu.children.length === 0) {
    <div>
      @for (style of getContent(selfHelp.selectedMenu); track style) {
        <app-basic-style [style]="style"
        [url]="selfHelp.selectedMenu.url" [ionContent]="ionContent"></app-basic-style>
      }
    </div>
  }
  @if (selfHelp && selfHelp.selectedMenu && selfHelp.selectedMenu.children.length > 0) {
    <app-sub-menu [selfhelp]="selfHelp">
    </app-sub-menu>
  }
</ion-content>
