<table *ngIf="style.fields.length > 0 && getFieldContent('is_log') == '1'" datatable [dtOptions]="dtOptions" [className]="'table ' + getCss()">
    <thead>
        <tr>
            <th *ngFor="let label of header">{{label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let cell of getRowCells(row)">{{cell}}</td>
            <td *ngIf="style.can_delete" class="remove-user-input-field"><a data-toggle="modal" data-target=""
                    class="text-secondary" href="" (click)="deleteAlert(row)"><i class="fas fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>

<div *ngIf="style.fields.length > 0 && getFieldContent('is_log') == '0'" [class]="getCss()">
    <ion-item *ngFor="let field of style.fields">
        <ion-label>{{field.field_label}}</ion-label>
        <ion-text>{{field.value}}</ion-text>
    </ion-item>
</div>

<div *ngIf="style.fields.length == 0" >
    No Data
</div>