<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="#" (click)="close()"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="d-flex justify-content-between align-items-center"> 
                <span>
                    PDF Viewer
                </span>
                <ion-button color="primary" (click)="downloadPdf()">
                    <ion-icon name="download-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <pdf-viewer class="w-100 h-100" [src]="pdfUrl" [render-text]="true" [original-size]="false"></pdf-viewer>
</ion-content>