<ion-item *ngIf="parentForm && style.items && getFieldContent('image_selector') != '1'" [formGroup]="parentForm"
    [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ion-select [multiple]="getFieldContent('is_multiple') == '1'" interface="popover"
        [formControlName]="getFieldContent('name')" [placeholder]="getFieldContent('alt')">
        <ion-select-option *ngFor="let item of style.items['content']" [value]="item.value">{{item.text}}
        </ion-select-option>
    </ion-select>
</ion-item>
<div *ngIf="parentForm && style.items && getFieldContent('image_selector') == '1'" [formGroup]="parentForm"
    [class]="getCss()">
    <div [id]="'image_selector-' + getFieldContent('id')"></div>
    <input [id]="'selectValue-' + getFieldContent('id')" type="hidden" [formControlName]="getFieldContent('name')">
</div>