<ion-item *ngIf="parentForm && style.items" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ion-select [multiple]="getFieldContent('is_multiple') == '1'" interface="popover"
        [formControlName]="getFieldContent('name')" [placeholder]="getFieldContent('alt')">
        <ion-select-option *ngFor="let item of style.items.content" [value]="item.value">{{item.text}}
        </ion-select-option>
    </ion-select>
</ion-item>