<div id = "modal-holder">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="#" (click)="closeModal()"></ion-back-button>
            </ion-buttons>
            <ion-title>{{this.getFieldContent('title')}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content #content fullscreen>
        <app-basic-style *ngFor="let child of this.style.children" [style]="child" [url]="url"
            [ionContent]="content"></app-basic-style>
    </ion-content>
</div>
