<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="secondary">
                <ion-button>
                    <ion-icon slot="icon-only" name="person-circle-outline" color="medium"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{selfhelp.selectedMenu.title}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div *ngIf="selfhelp.selectedMenu && selfhelp.selectedMenu.children.length == 0">
        <app-basic-style *ngFor="let style of getContent(selfhelp.selectedMenu)" [style]="style"></app-basic-style>
    </div>
    <app-sub-menu *ngIf="selfhelp.selectedMenu && selfhelp.selectedMenu.children.length > 0" [selfhelp]="selfhelp">
    </app-sub-menu>
</ion-content>