<form [formGroup]="form" [class]="getCss()">
  @for (child of style.children; track child) {
    <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent"
    [parentForm]="form"></app-basic-style>
  }
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      @if (getFieldContent('label')) {
        <ion-button [color]="getFieldContent('type')" size='small'
          [disabled]="!form.valid || isSubmitting" (click)="formSubmitClick(form.value)">
          @if (isSubmitting) {
            <ion-spinner name="dots" class="submit-spinner"></ion-spinner>
          }
          @if (!isSubmitting) {
            <span>{{getFieldContent('label')}}</span>
          }
          @if (isSubmitting) {
            <span>Processing...</span>
          }
        </ion-button>
      }
      @if (getFieldContent('submit_and_send_email') === '1') {
        <ion-button [color]="getFieldContent('type')"
          size='small' [class]="'btn-' + getFieldContent('type')" [disabled]="!form.valid || isSubmitting"
          (click)="submitFormAndSendEmail(form.value)">{{getFieldContent('submit_and_send_label')}}
        </ion-button>
      }
    </div>
    @if (getFieldContent('url_cancel') !== '') {
      <ion-button size='small' class="selfhelp-form-cancel-btn"
        [disabled]="isSubmitting"
        (click)="cancelUrl()">{{getFieldContent('label_cancel')}}
      </ion-button>
    }
  </div>
</form>
