<form [formGroup]="form" [class]="getCss()">
    <app-basic-style *ngFor="let child of style.children" [style]="child" [url]="url" [ionContent]="ionContent"
        [parentForm]="form"></app-basic-style>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <ion-button *ngIf="getFieldContent('label')" [color]="getFieldContent('type')" size='small'
                [disabled]="!form.valid" (click)="submitForm(form.value)">
                {{getFieldContent('label')}}</ion-button>
            <ion-button *ngIf="getFieldContent('submit_and_send_email') === '1'" [color]="getFieldContent('type')"
                size='small' [class]="'btn-' + getFieldContent('type')" [disabled]="!form.valid"
                (click)="submitFormAndSendEmail(form.value)">{{getFieldContent('submit_and_send_label')}}
            </ion-button>
        </div>
        <ion-button *ngIf="getFieldContent('url_cancel') !== ''" size='small' class="selfhelp-form-cancel-btn"
            (click)="cancelUrl()">{{getFieldContent('label_cancel')}}
        </ion-button>
    </div>
</form>
