  .icon-button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 10px;
  }

  ion-icon {
      font-size: 24px;
      color: #000;
  }

  .audio-size {
      width: -webkit-fill-available;
  }

  .icon-button:disabled ion-icon {
    --ion-color-base: #d1d1d1 !important;
}
