<div class="d-flex flex-column">
    <div class="d-flex">
        <button (click)="startRecording()" class="icon-button" [disabled]="isRecording">
            <ion-icon name="mic" color="primary"></ion-icon>
        </button>
        <button (click)="stopRecording()" class="icon-button" [disabled]="!isRecording">
            <ion-icon name="square" color="danger"></ion-icon>
        </button>
    </div>

    <div *ngIf="recording">
        <audio class="audio-size" [src]="recording" controls></audio>
    </div>
</div>
