@if (this.style) {
  @switch (true) {
    @case (isStyle('accordionList')) {
      <app-accordion-list-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-accordion-list-style>
    }
    @case (isStyle('alert')) {
      <app-alert-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-alert-style>
    }
    @case (isStyle('audio')) {
      <app-audio-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-audio-style>
    }
    @case (isStyle('button')) {
      <app-button-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-button-style>
    }
    @case (isStyle('calendar')) {
      <app-calendar-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-calendar-style>
    }
    @case (isStyle('calendars')) {
      <app-calendars-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-calendars-style>
    }
    @case (isStyle('card')) {
      <app-card-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-card-style>
    }
    @case (isStyle('carousel')) {
      <app-carousel-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-carousel-style>
    }
    @case (isStyle('checkbox')) {
      <app-checkbox-style [style]="getStyle()" [parentForm]="parentForm"></app-checkbox-style>
    }
    @case (isStyle('conditionalContainer')) {
      <app-conditional-container-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-conditional-container-style>
    }
    @case (isStyle('container')) {
      <app-container-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-container-style>
    }
    @case (isStyle('div') || isStyle('conditionFailed')) {
      <app-div-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-div-style>
    }
    @case (isStyle('navigationNested')) {
      <app-div-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-div-style>
    }
    @case (isStyle('entryRecord')) {
      <app-div-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-div-style>
    }
    @case (isStyle('refContainer')) {
      <app-div-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-div-style>
    }
    @case (isStyle('entryRecordDelete')) {
      <app-entry-record-delete-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-entry-record-delete-style>
    }
    @case (isStyle('entryList') || isStyle('loop')) {
      <app-entry-list [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-entry-list>
    }
    @case (isStyle('figure')) {
      <app-figure-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-figure-style>
    }
    @case (isStyle('form')) {
      <app-form-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-form-style>
    }
    @case (isStyle('formUserInput') || isStyle('formUserInputLog') || isStyle('formUserInputRecord')) {
      <app-form-user-input-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-form-user-input-style>
    }
    @case (isStyle('graph')) {
      <app-graph-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-graph-style>
    }
    @case (isStyle('heading')) {
      <app-heading-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-heading-style>
    }
    @case (isStyle('htmlTag')) {
      <app-html-tag-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-html-tag-style>
    }
    @case (isStyle('image')) {
      <app-image-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-image-style>
    }
    @case (isStyle('input')) {
      <app-input-style [style]="getStyle()" [parentForm]="parentForm"></app-input-style>
    }
    @case (isStyle('json')) {
      <app-json-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-json-style>
    }
    @case (isStyle('jumbotron')) {
      <app-jumbotron-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-jumbotron-style>
    }
    @case (isStyle('labJS')) {
      <app-lab-js [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-lab-js>
    }
    @case (isStyle('link')) {
      <app-link-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-link-style>
    }
    @case (isStyle('llmChat')) {
      <app-llm-chat-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-llm-chat-style>
    }
    @case (isStyle('llmResponse')) {
      <app-llm-response-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-llm-response-style>
    }
    @case (isStyle('llmFormRecord')) {
      <app-llm-form-record-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-llm-form-record-style>
    }
    @case (isStyle('llmFormLog')) {
      <app-llm-form-log-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-llm-form-log-style>
    }
    @case (isStyle('login')) {
      <app-login-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-login-style>
    }
    @case (isStyle('markdown')) {
      <app-markdown-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-markdown-style>
    }
    @case (isStyle('markdownInline')) {
      <app-markdown-inline-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-markdown-inline-style>
    }
    @case (isStyle('messageBoard')) {
      <app-message-board-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-message-board-style>
    }
    @case (isStyle('modal')) {
      <app-modal-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-modal-style>
    }
    @case (isStyle('navigationContainer')) {
      <app-navigation-container-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-navigation-container-style>
    }
    @case (isStyle('nestedList')) {
      <app-nested-list-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-nested-list-style>
    }
    @case (isStyle('openAppButton')) {
      <app-open-app-button-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-open-app-button-style>
    }
    @case (isStyle('plaintext')) {
      <app-plaintext-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-plaintext-style>
    }
    @case (isStyle('profile')) {
      <app-profile-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-profile-style>
    }
    @case (isStyle('progressBar')) {
      <app-progress-bar-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-progress-bar-style>
    }
    @case (isStyle('resetPassword')) {
      <app-reset-password-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-reset-password-style>
    }
    @case (isStyle('quiz')) {
      <app-quiz-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-quiz-style>
    }
    @case (isStyle('radio')) {
      <app-radio-style [style]="getStyle()" [parentForm]="parentForm"></app-radio-style>
    }
    @case (isStyle('rawText')) {
      <app-raw-text-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-raw-text-style>
    }
    @case (isStyle('register')) {
      <app-register-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-register-style>
    }
    @case (isStyle('sbAsterChart')) {
      <app-sb-aster-chart-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-sb-aster-chart-style>
    }
    @case (isStyle('shepherdJS')) {
      <app-shepherd-js-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-shepherd-js-style>
    }
    @case (isStyle('shortcutButton')) {
      <app-shortcut-button-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-shortcut-button-style>
    }
    @case (isStyle('showUserInput')) {
      <app-show-user-input-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-show-user-input-style>
    }
    @case (isStyle('select')) {
      <app-select-style [style]="getStyle()" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm"></app-select-style>
    }
    @case (isStyle('sortableList')) {
      <app-sortable-list [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-sortable-list>
    }
    @case (isStyle('surveyJS')) {
      <app-survey-js-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-survey-js-style>
    }
    @case (isStyle('tabs')) {
      <app-tabs-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-tabs-style>
    }
    @case (isStyle('textarea')) {
      <app-textarea-style [style]="getStyle()" [parentForm]="parentForm"></app-textarea-style>
    }
    @case (isStyle('therapistDashboard')) {
      <app-therapist-dashboard-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-therapist-dashboard-style>
    }
    @case (isStyle('therapyChat')) {
      <app-therapy-chat-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-therapy-chat-style>
    }
    @case (isStyle('twoFactorAuth')) {
      <app-two-factor-auth-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-two-factor-auth-style>
    }
    @case (isStyle('qualtricsSurvey')) {
      <app-qualtrics-survey-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-qualtrics-survey-style>
    }
    @case (isStyle('validate')) {
      <app-validate-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-validate-style>
    }
    @case (isStyle('video')) {
      <app-video-style [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-video-style>
    }
    @case (getStyle() === null) {
    }
    @default {
      <div>@if (getStyle().style_name) {
        <span><code>{{getStyle().style_name}}Style</code> is not implemented</span>
      }</div>
    }
  }
}
