<app-card-style *ngIf="isStyle('card')" [style]="getStyle()"></app-card-style>
<app-markdown-style *ngIf="isStyle('markdown')" [style]="getStyle()"></app-markdown-style>
<app-container-style *ngIf="isStyle('container')" [style]="getStyle()"></app-container-style>
<app-form-user-input-style *ngIf="isStyle('formUserInput')" [style]="getStyle()" [url]="url"></app-form-user-input-style>
<app-conditional-container-style *ngIf="isStyle('conditionalContainer')" [style]="getStyle()"></app-conditional-container-style>

