<app-accordion-list-style *ngIf="isStyle('accordionList')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-accordion-list-style>
<app-alert-style *ngIf="isStyle('alert')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-alert-style>
<app-audio-style *ngIf="isStyle('audio')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-audio-style>
<app-button-style *ngIf="isStyle('button')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-button-style>
<app-calendar-style *ngIf="isStyle('calendar')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-calendar-style>
<app-card-style *ngIf="isStyle('card')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-card-style>
<app-carousel-style *ngIf="isStyle('carousel')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-carousel-style>
<app-conditional-container-style *ngIf="isStyle('conditionalContainer')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-conditional-container-style>
<app-container-style *ngIf="isStyle('container')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-container-style>
<app-div-style *ngIf="isStyle('div')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-div-style>
<app-div-style *ngIf="isStyle('navigationNested')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-div-style>
<app-div-style *ngIf="isStyle('entryRecord')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-div-style>
<app-entry-list *ngIf="isStyle('entryList')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-entry-list>
<app-figure-style *ngIf="isStyle('figure')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-figure-style>
<app-form-style *ngIf="isStyle('form')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-form-style>
<app-form-user-input-style *ngIf="isStyle('formUserInput')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-form-user-input-style>
<app-graph-style *ngIf="isStyle('graph')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-graph-style>
<app-heading-style *ngIf="isStyle('heading')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-heading-style>
<app-image-style *ngIf="isStyle('image')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-image-style>
<app-json-style *ngIf="isStyle('json')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-json-style>
<app-jumbotron-style *ngIf="isStyle('jumbotron')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-jumbotron-style>
<app-link-style *ngIf="isStyle('link')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-link-style>
<app-login-style *ngIf="isStyle('login')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-login-style>
<app-markdown-style *ngIf="isStyle('markdown')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-markdown-style>
<app-markdown-inline-style *ngIf="isStyle('markdownInline')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-markdown-inline-style>
<app-message-board-style *ngIf="isStyle('messageBoard')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-message-board-style>
<app-navigation-container-style *ngIf="isStyle('navigationContainer')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-navigation-container-style>
<app-nested-list-style *ngIf="isStyle('nestedList')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-nested-list-style>
<app-plaintext-style *ngIf="isStyle('plaintext')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-plaintext-style>
<app-profile-style *ngIf="isStyle('profile')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-profile-style>
<app-progress-bar-style *ngIf="isStyle('progressBar')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-progress-bar-style>
<app-reset-password-style *ngIf="isStyle('resetPassword')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-reset-password-style>
<app-quiz-style *ngIf="isStyle('quiz')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-quiz-style>
<app-raw-text-style *ngIf="isStyle('rawText')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-raw-text-style>
<app-register-style *ngIf="isStyle('register')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-register-style>
<app-show-user-input-style *ngIf="isStyle('showUserInput')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-show-user-input-style>
<app-sortable-list *ngIf="isStyle('sortableList')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-sortable-list>
<app-tabs-style *ngIf="isStyle('tabs')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-tabs-style>
<app-qualtrics-survey-style *ngIf="isStyle('qualtricsSurvey')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-qualtrics-survey-style>
<app-validate-style *ngIf="isStyle('validate')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-validate-style>
<app-video-style *ngIf="isStyle('video')" [style]="getStyle()" [url]="url" [ionContent]="ionContent"></app-video-style>