@if (parentForm && getFieldContent('type_input') === 'text') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    <ion-input [label]="getFieldContent('label')" [formControlName]="getFieldContent('name')"
      [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''" [minlength]="getFieldContent('min')"
    [maxlength]="getFieldContent('max')"></ion-input>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'date') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    @if (style.label) {
      <ion-label>{{getFieldContent('label')}}</ion-label>
    }
    <ion-datetime-button [datetime]="'date-'+getFieldContent('name')"></ion-datetime-button>
    <ion-modal class="ion-modal-datepicker" [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [locale]="this.selfhelpService.getUserLanguage().locale" presentation="date" [id]="'date-'+getFieldContent('name')"
          [formControlName]="getFieldContent('name')"
        (ionChange)="formatDate(getFieldContent('name'))"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'datetime') {
  <ion-item [formGroup]="parentForm"
    [class]="getCss()">
    @if (style.label) {
      <ion-label>{{getFieldContent('label')}}</ion-label>
    }
    <ion-datetime-button [datetime]="'datetime-'+getFieldContent('name')"></ion-datetime-button>
    <ion-modal class="ion-modal-datepicker" [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [locale]="this.selfhelpService.getUserLanguage().locale" [id]="'datetime-'+getFieldContent('name')" [formControlName]="getFieldContent('name')"
        (ionChange)="formatDateTime(getFieldContent('name'))"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'email') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    <ion-input [label]="getFieldContent('label')" [formControlName]="getFieldContent('name')" email required appAutofill autocomplete="email"
    [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'number') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    <ion-input [label]="getFieldContent('label')" [formControlName]="getFieldContent('name')" type="number"
    [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'password') {
  <ion-item [formGroup]="parentForm"
    [class]="getCss()">
    <ion-input [label]="getFieldContent('label')" [formControlName]="getFieldContent('name')" type="password" appAutofill autocomplete="current-password"
    [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
  </ion-item>
}

@if (parentForm && getFieldContent('type_input') === 'range') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    @if (style.label) {
      <ion-label position="stacked">{{getFieldContent('label')}}</ion-label>
    }
    <ion-range pin="true" color="secondary" [formControlName]="getFieldContent('name')">
    </ion-range>
  </ion-item>
}

@if (getFieldContent('type_input') === 'checkbox') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    <ion-checkbox [label] color="primary" [formControlName]="getFieldContent('name')" slot="start">{{getFieldContent('label')}}</ion-checkbox>
  </ion-item>
}

@if (getFieldContent('type_input') === 'color') {
  <ion-item [formGroup]="parentForm" [class]="getCss()">
    @if (style.label) {
      <ion-label>{{getFieldContent('label')}}</ion-label>
    }
    <ngx-colors ngx-colors-trigger
    [formControlName]="getFieldContent('name')"></ngx-colors>
  </ion-item>
}
