<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'text'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label" position="floating">{{getFieldContent('label')}}</ion-label>
    <ion-input [formControlName]="getFieldContent('name')"
        [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''" [minlength]="getFieldContent('min')"
        [maxlength]="getFieldContent('max')"></ion-input>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'date'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ion-datetime-button [datetime]="'datetime-'+getFieldContent('name')"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
        <ng-template>
            <ion-datetime presentation="date" [id]="'datetime-'+getFieldContent('name')"
                [formControlName]="getFieldContent('name')"
                (ionChange)="formatDate(getFieldContent('name'))"></ion-datetime>
        </ng-template>
    </ion-modal>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'datetime'" [formGroup]="parentForm"
    [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ion-datetime-button [datetime]="'datetime-'+getFieldContent('name')"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
        <ng-template>
            <ion-datetime [id]="'datetime-'+getFieldContent('name')" [formControlName]="getFieldContent('name')"
                (ionChange)="formatDateTime(getFieldContent('name'))"></ion-datetime>
        </ng-template>
    </ion-modal>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'email'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label" position="floating">{{getFieldContent('label')}}</ion-label>
    <ion-input [formControlName]="getFieldContent('name')" email required appAutofill autocomplete="email"
        [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'number'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label" position="floating">{{getFieldContent('label')}}</ion-label>
    <ion-input [formControlName]="getFieldContent('name')" type="number"
        [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'password'" [formGroup]="parentForm"
    [class]="getCss()">
    <ion-label *ngIf="style.label" position="floating">{{getFieldContent('label')}}</ion-label>
    <ion-input [formControlName]="getFieldContent('name')" type="password" appAutofill autocomplete="current-password"
        [placeholder]="style.placeholder ? getFieldContent('placeholder') : ''"></ion-input>
</ion-item>

<ion-item *ngIf="parentForm && getFieldContent('type_input') === 'range'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label" position="stacked">{{getFieldContent('label')}}</ion-label>
    <ion-range pin="true" color="secondary" [formControlName]="getFieldContent('name')">
    </ion-range>
</ion-item>

<ion-item *ngIf="getFieldContent('type_input') === 'checkbox' && getFieldContent('toggle_switch') === '0'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ion-checkbox color="primary" [formControlName]="getFieldContent('name')" slot="start"></ion-checkbox>
</ion-item>

<ion-item *ngIf="getFieldContent('type_input') === 'checkbox' && getFieldContent('toggle_switch') === '1'" [formGroup]="parentForm" [class]="getCss()">
    <ion-toggle color="primary" [formControlName]="getFieldContent('name')">{{getFieldContent('label')}}</ion-toggle>
</ion-item>

<ion-item *ngIf="getFieldContent('type_input') === 'color'" [formGroup]="parentForm" [class]="getCss()">
    <ion-label *ngIf="style.label">{{getFieldContent('label')}}</ion-label>
    <ngx-colors ngx-colors-trigger
        [formControlName]="getFieldContent('name')"></ngx-colors>
</ion-item>
