<ion-app *ngIf="this.selfhelpSerivce.getIsApp()">
    <ion-router-outlet></ion-router-outlet>
</ion-app>
<div *ngIf="!this.selfhelpSerivce.getIsApp()" class="debug-wrapper">
    <div class="debug-container">
        <div class="debug-controls">
            <ion-item lines="none" class="md skin-toggle">
                <ion-label class="text-right">Android</ion-label>
                <ion-toggle mode="md" [checked]="skinIOS" (ionChange)="skinChanged($event)"></ion-toggle>
                <ion-label>iOS</ion-label>
            </ion-item>
        </div>
        <div [className]="'docs-demo-device ' + getAppSkin()">
            <figure>
                <ion-app class="selfhelp-app">
                    <ion-router-outlet></ion-router-outlet>
                </ion-app>
            </figure>
        </div>
    </div>
    <ion-icon class="reset-btn danger" name="close-circle" (click)="resetPreview()"></ion-icon>
</div>