<ion-card [id]="getFieldContent('id')" [class]="'m-0 ' + getCss()">
    <ion-card-header [color]="getFieldContent('type')">
        <ion-card-title>{{getFieldContent('title')}}
            <ion-icon style="float: right;" (click)="toggleCard()" [name]="isCardExpanded ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content [hidden]="!isCardExpanded">
        <app-basic-style *ngFor="let child of style.children" [style]="child" [url]="url" [ionContent]="ionContent">
        </app-basic-style>
    </ion-card-content>
</ion-card>
