<ion-card [id]="getFieldContent('id')" [class]="'m-0 ' + getCss()">
  <ion-card-header [class]="'mobile-card-header card-' + getFieldContent('type')" [color]="getFieldContent('type')">
    <ion-card-title class="d-flex align-items-center justify-content-between" (click)="toggleCard()">{{getFieldContent('title')}}
      <div>
        @if (getFieldContent('is_collapsible') === '1') {
          <ion-icon size="large"
          [name]="isCardExpanded ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        }
        @if (getFieldContent('url_edit') !== '') {
          <ion-icon size="large" class="ml-4"
          name="create-outline" (click)="edit_link_clicked($event)"></ion-icon>
        }
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="mobile-body-header" [hidden]="!isCardExpanded">
    @for (child of style.children; track child) {
      <app-basic-style [style]="child" [url]="url" [ionContent]="ionContent" [parentForm]="parentForm">
      </app-basic-style>
    }
  </ion-card-content>
</ion-card>
