@if (parentForm) {
  <div [formGroup]="parentForm" [class]="getCss()">
    <ion-radio-group [formControlName]="getFieldContent('name')">
      @if (style.label) {
        <ion-list-header>
          <ion-label>{{getFieldContent('label')}}</ion-label>
        </ion-list-header>
      }
      @for (item of style.items.content; track item) {
        <ion-item>
          <ion-radio labelPlacement="end" [value]="item.value">{{item.text}}</ion-radio>
        </ion-item>
      }
    </ion-radio-group>
  </div>
}