<ion-header class="therapy-modal-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()" class="close-btn">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="header-title">
        <ion-icon [name]="icon" class="header-icon"></ion-icon>
        <span>{{ displayTitle }}</span>
        @if (unreadCount > 0) {
          <ion-badge color="danger" class="header-badge">
            {{ unreadCount }}
          </ion-badge>
        }
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

@if (selfHelp.urls[url]) {
  <ion-content #content fullscreen class="therapy-modal-content">
    @for (style of selfHelp.urls[url].content; track style) {
      <app-basic-style
        [style]="style"
        [url]="url"
        [ionContent]="content">
      </app-basic-style>
    }
    @if (isMissing()) {
      <div class="missing-page">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>Page not found</p>
      </div>
    }
  </ion-content>
}
