<ion-tabs #navigation>
    <ion-tab-bar slot="bottom">
        <ion-tab-button *ngFor="let nav of selfhelp.navigation"
            [tab]="getTabName(nav)" (click)="setTab(nav)">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>{{nav.title}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
<ion-content *ngIf="selfhelp.navigation.length == 0">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
        <div class = ''>
            Something went wrong
        </div>
    </div>
</ion-content>
<!-- <app-menu></app-menu> -->