/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'swiper/css';

ion-loading {
    --max-height: 100% !important;
    --max-width: 100% !important;
}

ion-loading .loading-wrapper {
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0;
    background-color: #eaecfa !important;
    border-radius: 0 !important;
}

// $color-loader: --ion-color-primar;

.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--ion-color-primary);
    letter-spacing: 0.2em;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: var(--ion-color-primary);
        position: absolute;
        animation: load .7s infinite alternate ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px
    }

    50% {
        height: 8px;
        width: 40px
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px
    }
}

/*
 * This adds a scroll bar to ionic alerts
 */
.alert-radio-group::-webkit-scrollbar,
.alert-checkbox-group::-webkit-scrollbar {
    width: 0.7em;
    display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track,
.alert-checkbox-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb,
.alert-checkbox-group::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.modal-fullscreen {
    &::part(content) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.selectServer .alert-wrapper {
    width: 80%;
    max-width: 80%;
}

.cal-modal {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}

.security-questions ion-label {
    white-space: pre-line !important;
}

ion-select-popover {
    overflow: auto !important;
}

ion-select::part(text) {
  white-space: normal !important;
}

ion-select::part(placeholder) {
  white-space: normal !important;
}

@media screen and (max-width:767px) {
    .fc-toolbar.fc-header-toolbar {
        flex-direction: column;
        width: 100%;
    }

    .fc-toolbar-chunk {
        display: table-row;
        text-align: center;
        padding: 5px 0;
        width: 100%;
    }

    .fc-button-group{
        width: 100%;
    }
}

.delete-event-form {
    position: absolute;
    -webkit-transform: translate(0, -100%);
    right: 0;
}

