.avatar{
    max-width: 28px;
    max-height: 28px;
    margin-right: 14px;    
}

.no-avatar{
    font-size: 28px;
    margin-right: 14px;    
}

.user_name{
    margin: 0;
}

.message{
    text-align: left !important;
    white-space: pre-wrap !important;
}