<div #messageBoard style="overflow: scroll; height: xyz;" [class]="getCss()">
    <div *ngFor="let message of style.messages" [id]="'message-'+style.id_section+'-'+message.record_id"
        class="card bg-light mb-3">
        <div class="card-header">
            <h5 class="mb-0 d-flex align-items-center">
                <i class="fas fa-chart-line mr-3"></i>
                {{getFieldContent('title')}}
                <small class="text-muted ml-auto" title="<?php echo $ts; ?>">
                    {{message.time}}
                </small>
            </h5>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h1><span [class]="'badge badge-' + message.color + ' mr-3'">
                        {{message.score}}
                    </span></h1>
                <span class="messageBoard-message" [innerHTML]="getFieldContent('text_md')"> </span>
            </div>
            <div class="pl-3">
                <div *ngFor="let reply of message.reply_messages" class="card mb-1">
                    <div class="card-body py-2">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="mr-2"><strong>
                                    {{reply.user_name}}
                                </strong>:</div>
                            <div class="mr-2">
                                {{reply.value}}
                            </div>
                            <small class="text-muted ml-auto" [title]="reply.create_time">
                                {{reply.time}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center">
            <div>
                <app-submit-comment *ngFor="let icon of this.getFieldContent('icons')" [url]="message.url"
                    [parent_url]="url" [reply_id]="style.id_reply" [reply_value]="icon" [link_id]="style.id_link"
                    [link_value]="message.record_id" [icons]="true" [icon_counter]="message.icon_counter" [disabled]="message.color=='primary'"
                    [form_name]="getFieldContent('name')">
                </app-submit-comment>
            </div>
            <div *ngIf="message.color=='success'"  class="ml-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comment
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <app-submit-comment *ngFor="let comment of getFieldContent('comments')" [url]="message.url"
                            [parent_url]="url" [reply_id]="style.id_reply" [reply_value]="comment"
                            [link_id]="style.id_link" [link_value]="message.record_id" [icons]="false"
                            [form_name]="getFieldContent('name')">
                        </app-submit-comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>