<div #messageBoard style="overflow: scroll; height: xyz;" [class]="getCss()">
  @for (message of style.messages; track message) {
    <div [id]="'message-'+style.id_section+'-'+message.record_id"
      class="card bg-light mb-3">
      <div class="card-header">
        <div class="mb-0 d-flex align-items-center">
          <!-- <i class="fas fa-chart-line mr-3"></i> -->
          <!-- {{getFieldContent('title')}} -->
          @if (message.avatar !== '') {
            <ion-avatar class="avatar" slot="start">
              <img [src]="getAvatar(message.avatar)">
            </ion-avatar>
          }
          @if (message.avatar === '') {
            <ion-icon class="no-avatar" name="person-circle-outline" color="medium">
            </ion-icon>
          }
          <h5 class="user_name">{{message.user}}</h5>
          <small class="text-muted ml-auto" [title]="message.time">
            {{message.time}}
          </small>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <h5><span [class]="'badge badge-' + message.color + ' mr-3 message'">
            {{message.score}}
          </span></h5>
          <span class="messageBoard-message" [innerHTML]="getFieldContent('text_md')"> </span>
        </div>
        <div class="pl-3">
          @for (reply of message.reply_messages; track reply) {
            <div class="card mb-1">
              <div class="card-body py-2">
                <div class="d-flex align-items-center flex-wrap">
                  @if (reply.avatar !== '') {
                    <ion-avatar class="avatar" slot="start">
                      <img [src]="getAvatar(reply.avatar)">
                    </ion-avatar>
                  }
                  @if (reply.avatar === '') {
                    <ion-icon class="no-avatar" name="person-circle-outline"
                      color="medium">
                    </ion-icon>
                  }
                  <div class="mr-2"><strong>
                    {{reply.user_name}}
                  </strong>:</div>
                  <div class="mr-2">
                    {{reply.value}}
                  </div>
                  <small class="text-muted ml-auto" [title]="reply.create_time">
                    {{reply.time}}
                  </small>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="card-footer d-flex align-items-center">
        <div>
          @for (icon of this.getFieldContent('icons'); track icon) {
            <app-submit-comment [url]="message.url"
              [parent_url]="url" [reply_id]="style.id_reply" [reply_value]="icon" [link_id]="style.id_link"
              [link_value]="message.record_id" [icons]="true" [icon_counter]="message.icon_counter"
              [disabled]="message.color==='primary'" [form_name]="getFieldContent('name')">
            </app-submit-comment>
          }
        </div>
        @if (message.color==='success') {
          <div class="ml-auto">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kommentieren
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @for (comment of getFieldContent('comments'); track comment) {
                  <app-submit-comment [url]="message.url"
                    [parent_url]="url" [reply_id]="style.id_reply" [reply_value]="comment"
                    [link_id]="style.id_link" [link_value]="message.record_id" [icons]="false"
                    [form_name]="getFieldContent('name')">
                  </app-submit-comment>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
