<div class="container mt-3">
    <div class="jumbotron">
        <h1>{{getFieldContent('title')}}</h1>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">{{getFieldContent('subtitle')}}</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="form" [class]="getCss()" (keyup.enter)="validate(form.value)">
                <div class="form-group d-none">
                    <label>Leave this field empty</label>
                    <input type="text" class="form-control" name="phone7h92jP" autocomplete="off">
                </div>

                <ion-item>
                    <ion-label position="stacked">{{getFieldContent('label_name')}}</ion-label>
                    <ion-input type="text" formControlName="name" [placeholder]="getFieldContent('name_placeholder')">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{getFieldContent('label_pw')}}</ion-label>
                    <ion-input type="password" formControlName="pw" [placeholder]="getFieldContent('pw_placeholder')">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" formControlName="pw_verify"
                        [placeholder]="getFieldContent('label_pw_confirm')">
                    </ion-input>
                </ion-item>
                <ion-radio-group formControlName="gender">
                    <ion-list-header>
                        <ion-label>{{getFieldContent('label_gender')}}</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>{{getFieldContent('gender_male')}}</ion-label>
                        <ion-radio slot="start" [value]="1"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{getFieldContent('gender_female')}}</ion-label>
                        <ion-radio slot="start" [value]="2"></ion-radio>
                    </ion-item>
                </ion-radio-group>
                <ion-button [color]="'primary'" [disabled]="!form.valid" (click)="validate(form.value)"
                    class="w-100 mt-3" [disabled]="!form.valid">
                    {{getFieldContent('label_activate')}}</ion-button>


            </form>
        </div>
    </div>
</div>