<ion-card class="my-3">
    <ion-card-header>
        <ion-card-title>Version</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-label>App version:</ion-label>
            <ion-text color="primary">
                <h1>{{selfHelpService.appVersion}}</h1>
            </ion-text>
        </ion-item>
        <ion-item>
            <ion-label>App build:</ion-label>
            <ion-text color="primary">
                <h1>{{selfHelpService.appBuildVersion}}</h1>
            </ion-text>
        </ion-item>
        <ion-item *ngIf="selfHelpService.devApp">
            <ion-label>Server:</ion-label>
            <ion-text color="primary">
                <h1>{{selfHelpService.API_ENDPOINT_NATIVE}}</h1>
            </ion-text>
        </ion-item>
        <ion-item *ngIf="selfHelpService.devApp">
            <ion-button color="danger w-100" (click)="this.selfHelpService.resetServerSelection()">Reset Server
                Selection</ion-button>
        </ion-item>
    </ion-card-content>
</ion-card>
